@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

body {
    padding: 0;
    margin: 0;
    background: #F44336;
}

* {
    font-family: Roboto;
}

.content {
    width: 450px;
    overflow: hidden;
    transition: all 0.3s linear 0s;
    position: relative;
    z-index: 100;
}

.content.close {
    transform: translateX(100%);
}

.content header {
    background: #F44336;
    padding: 15px 10px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px #CCC;
    position: relative;
    z-index: 100;
}

.content header h1 {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    color: #FFF;
}

.content header h1 img {
    vertical-align: middle;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.content header h1 span.download-all {
    float: right;
    font-size: 15px;
    background: #E41C0D;
    padding: 5px 15px;
    margin: -2px 0 0;
    cursor: pointer;
}

.content .item {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #F9F9F9;
    border-bottom: 1px solid #DDD;
}

.content .item:last-child {
    border-bottom: 0;
}

.content .item .col {
    height: 70px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.content .item .col.box-image {
    width: 70px;
    position: relative;
    overflow: hidden;
    background: #CCC;
    transition: all 0.1s linear 0s;
    cursor: pointer;
}

.content .item .col.box-image img {
    width: 70px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
}

.content .item .col.title.full {
    width: 100%;
    text-align: center;
    padding: 25px 10px;
}

.content .item .col.title {
    width: 320px;
    padding: 0 10px;
}

.content .item .col.title span {
    font-size: 14px;
    color: #777;
    text-transform: capitalize;
    max-height: 70px;
    overflow: hidden;
    display: inline-block;
}

.content .item .col.link {
    width: 40px;
}

.content .item .col.link a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 50px;
    background: #F44336;
    display: block;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 0px 2px 5px #CCC;
    transition: all 0.3s linear 0s;
}

.content .item .col.link a:hover {
    box-shadow: 0px 2px 10px #CCC;
}

.content .item .col.link a img {
    width: 20px;
}

.copyright {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.copyright span {
    position: absolute;
    width: 100%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
}